
{% load static %}
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'core:Item-list'%}">
        <strong class="blue-text">SuperStore</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{%url 'core:Item-list'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" arget="_blank">About</a>
          </li>
        
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {%if request.user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{%url 'core:Checkout'%}">
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
              <!-- <span class="clearfix d-none d-sm-inline-block"> Logout </span> -->
              <a href="{% url 'start:logout' %}" style="margin-top:8px;margin-left:5px">Logout</a>
            </a>
          </li>
          {%else%}
          <li class="nav-item">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link waves-effect" href="{}"> -->
              <span class="clearfix d-none d-sm-inline-block"> SignUp </span>
            </a>
          </li>
          {%endif%}
        </ul>

      </div>

    </div>
  </nav>

