{% extends "base.html"%}

{% block home%}
<!-- cards -->
<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center text-white bg-primary mb-3" style="width: 15rem;height: 10rem;">
        <div class="card-body">
        <div class="card-header">Order</div>
        <h5 class="card-title"><br>{{total_orders}}</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center text-white bg-success " style="width: 15rem;height: 10rem">
        <div class="card-body">
        <div class="card-header">Revenue</div>
        <h5 class="card-title"><br>{{total_revenue}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cards -->
<!-- table -->
<div>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>OrderId</th>
        <th>ItemId</th>
        <th>Customer Name</th>
        <th>Customer Address</th>
        <th>Customer Email</th>
      </tr>
    </thead>
    <tbody>
      {%for object in object_list%}
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{object.order_id}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{object.item_id}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{object.customer_name}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{object.customer_address}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{object.customer_email}}</p>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<!-- table -->
{%endblock%}
